body{
    font-family: 'Lora', serif;
    font-size: 62.5%;
    background: #ffffff;
    color: #D46D6A;
    height: 100vh;
}
.nav-text{
    color:#801815;
    font-size: 1.5rem;
}
.nav-text:hover{
    color: rgba(128, 24, 21, .8);
}
.home{
    padding-left: 10rem;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 7rem;
}
.caption{
    font-family: 'Lora', serif;
    color:#801815;
    font-size: 2rem;
}
.lead{
    color: #000;
}
.icons{
    height: 15rem;
}
.fab{
    font-size: 1.5rem;
    color:#000;
}
/* skills */

.skills-sub >*{
    padding-bottom:2rem ;
}

/* projects */
.projects > * {
  padding-bottom: 1.5rem;
}
.card{
    width:20rem;
    padding: .5rem;
}
.card-link{
    font-size: .9rem;
}


/* MQ */

@media (max-width:41.4em){
    h1{
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .icons{
        height: 13rem;
    }
    .home {
        margin: .5rem;
    }
    .caption{
        font-size: 1.5rem;
    }
    form{
        width: 8rem;
    }
}